# Ignore virtual environment
venv/

# Ignore Python cache files
__pycache__/
*.py[cod]
*$py.class

# Ignore environment and dependency files
.env
*.env

# Ignore VSCode settings (if you use it)
.vscode/

# Ignore OS-specific files
.DS_Store
Thumbs.db
